<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/_head %>

    <body>
        <%- include ../partials/_header %>
        <div align="center">
        <% if (urls.length > 0) { %>
        <span style="width: 850px">
        <table style="margin-bottom:1cm; margin-top:2cm; width: auto !important;" class="table">
            <th>Short URL</th>
            <th>Original URL</th>
            <th>Redirects</th>
            <th>Unique Visits</th>
            <th></th>
            <th></th>
        <% for (url of urls) { %>
            <tr>
                <td>localhost:8080/u/<b><%= url.id %></b></td>
                <td><%= url.url %></td>
                <td><%= url.redirects %></td>
                <td><%= url.getTotalUniqueVisitors() %></td>
                <td><a href="/urls/<%= url.id %>" class="btn btn-warning btn-sm">Edit</a></td>
                <td><form method="post" action="/urls/<%= url.id %>?_method=DELETE"><input type="submit" value="Delete" class="btn btn-danger btn-sm"></form></td>
            </tr>
        <% } %>
        </table>
        </span>
        <% } %>
        <p><a href="/urls/new" class="btn btn-success btn-lg">Create Short URL!</a></p>
        </div>
    </body>
</html>