<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/_head %>

    <body>
        <%- include ../partials/_header %>
        <div align=center class="form-group">
        <form action="/urls/<%= url.id %>?_method=PUT" method="POST" style="margin:150px;">
            <h2><label for="longURL">Change .../u/<b><%= url.id %></b> to</label></h2>
            <input class="form-control" id="longURL" type="text" name="longURL" value="<%= url.url %>"><br>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
        </div>
        <table class="table" style="margin-bottom:1cm; margin-top:2cm; width: auto !important;" align="center">
            <th>Visitor ID</th>
            <th>Timestamp</th>
            <% for (visit of url.uniques) { %>
            <tr>
                <td><%= visit[0] %></td>
                <td><%= new Date(visit[1]).toLocaleString() %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>
