<!DOCTYPE html>
<html lang="en">
    <head>

        <title>TinyApp</title>
    </head>
    <body>
        <%- include partials/_header %>
        <table margin=4> 
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Edit?</th>
            <th>Delete?</th>
        <% for (key in urls) { %>
            <tr>
                <td><%= key %></td>
                <td><%= urls[key].url %></td>
                <td><a href="/urls/<%= key %>">Edit!</a></td>
                <td><form method="post" action="/urls/<%= key %>/delete"><input type="submit" value="Delete!"></form></td>
            </tr>
        <% } %>
        </table>
        <p><a href="/urls/new">New Short URL!</a></p>
    </body>
</html>